---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/icons8-blue-heart-48.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ME QUERES?👉👈</title>
	</head>
	<body>
		<form class="flex justify-centerw-full h-screen">
			<div class="relative w-full h-auto flex justify-center items-center">
				<div class="relative w-10/12 h-4/6 main-content flex flex-col justify-center items-center">
					<h2 class="text-5xl font-bold pb-10 text-center">¿ME QUIERES? 👉👈</h2>
					<p class="text-1 font-bold pb-10 text-center">(Te reto a poner que NO, no podras 😈)</p>
					<div class="buttons space-x-5 flex">
						<button id="myButton" class="bg-red-500 hover:bg-red-700 text-white font-bold text-3xl py-2 px-4 rounded-full md:w-auto md:h-auto md:top-50 md:left-50">
							No
						</button>
						<button id="yesButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 text-3xl px-4 rounded-full md:w-auto md:h-auto  md:top-50 md:left-50">
							Si
						</button>
					</div>
				</div>
			</div>
		</form>
	</body>
	<script src="../scripts/app.js"></script>
</html>
